* {
  box-sizing: border-box;

}

body {
  background-image: radial-gradient(#e96443, #904e95);
}

.container {
  padding: 20px;
  text-align: center;
}

form {
  margin-left: 620px;
  width: 720px;
}

label {
  display: block;
  margin: 10px 0;
  font-weight: bolder;
  color: #e5e5e5;
}

input {
  height: 45px;

}

input,
textarea {
  width: 300px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background: transparent;
  color: #ffffff;

}

textarea {
  resize: vertical;
}

button {
  margin: 10px 0;
  border-radius: 5px;
  background-color: transparent;
  color: #e5e5e5;
  text-align: center;
  font-size: 16px;
  padding: 10px;
}

#header {
  text-align: center;
  color: #e5e5e5
}



footer {
  margin: 0 auto;
  color: #e5e5e5;
}
